<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>LoanToGoProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registrationServlet</display-name>
    <servlet-name>registrationServlet</servlet-name>
    <servlet-class>com.loantogo.controllers.registrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrationServlet</servlet-name>
    <url-pattern>/registrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.loantogo.controllers.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>educationloanservlet</display-name>
    <servlet-name>educationloanservlet</servlet-name>
    <servlet-class>com.loantogo.controllers.educationloanservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>educationloanservlet</servlet-name>
    <url-pattern>/educationloanservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TwoWheelerLoanservlet</display-name>
    <servlet-name>TwoWheelerLoanservlet</servlet-name>
    <servlet-class>com.loantogo.controllers.TwoWheelerLoanservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwoWheelerLoanservlet</servlet-name>
    <url-pattern>/TwoWheelerLoanservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fourWheelerservlet</display-name>
    <servlet-name>fourWheelerservlet</servlet-name>
    <servlet-class>com.loantogo.controllers.fourWheelerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fourWheelerservlet</servlet-name>
    <url-pattern>/fourWheelerservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FourWheelerLoanservle</display-name>
    <servlet-name>FourWheelerLoanservle</servlet-name>
    <servlet-class>com.loantogo.controllers.FourWheelerLoanservle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FourWheelerLoanservle</servlet-name>
    <url-pattern>/FourWheelerLoanservle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalLoan</display-name>
    <servlet-name>PersonalLoan</servlet-name>
    <servlet-class>com.loantogo.controllers.PersonalLoan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalLoan</servlet-name>
    <url-pattern>/PersonalLoan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>goldloanServlet</display-name>
    <servlet-name>goldloanServlet</servlet-name>
    <servlet-class>com.loantogo.controllers.goldloanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goldloanServlet</servlet-name>
    <url-pattern>/goldloanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>homeloanServlet</display-name>
    <servlet-name>homeloanServlet</servlet-name>
    <servlet-class>com.loantogo.controllers.homeloanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeloanServlet</servlet-name>
    <url-pattern>/homeloanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exportReports</display-name>
    <servlet-name>exportReports</servlet-name>
    <servlet-class>com.loantogo.controllers.exportReports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exportReports</servlet-name>
    <url-pattern>/exportReports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exportVehicleReports</display-name>
    <servlet-name>exportVehicleReports</servlet-name>
    <servlet-class>com.loantogo.controllers.exportVehicleReports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exportVehicleReports</servlet-name>
    <url-pattern>/exportVehicleReports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exportPersonalGoldReports</display-name>
    <servlet-name>exportPersonalGoldReports</servlet-name>
    <servlet-class>com.loantogo.controllers.exportPersonalGoldReports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exportPersonalGoldReports</servlet-name>
    <url-pattern>/exportPersonalGoldReports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exportHomeReports</display-name>
    <servlet-name>exportHomeReports</servlet-name>
    <servlet-class>com.loantogo.controllers.exportHomeReports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exportHomeReports</servlet-name>
    <url-pattern>/exportHomeReports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exportGoldReports</display-name>
    <servlet-name>exportGoldReports</servlet-name>
    <servlet-class>com.loantogo.controllers.exportGoldReports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exportGoldReports</servlet-name>
    <url-pattern>/exportGoldReports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgotPasswordservlet</display-name>
    <servlet-name>forgotPasswordservlet</servlet-name>
    <servlet-class>com.loantogo.controllers.forgotPasswordservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgotPasswordservlet</servlet-name>
    <url-pattern>/forgotPasswordservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>emailValidationServlet</display-name>
    <servlet-name>emailValidationServlet</servlet-name>
    <servlet-class>com.loantogo.controllers.emailValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>emailValidationServlet</servlet-name>
    <url-pattern>/emailValidationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loanServlet</display-name>
    <servlet-name>loanServlet</servlet-name>
    <servlet-class>com.loantogo.controllers.loanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loanServlet</servlet-name>
    <url-pattern>/loanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>emipaymentservlet</display-name>
    <servlet-name>emipaymentservlet</servlet-name>
    <servlet-class>com.loantogo.controllers.emipaymentservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>emipaymentservlet</servlet-name>
    <url-pattern>/emipaymentservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exportUserReportServlet</display-name>
    <servlet-name>exportUserReportServlet</servlet-name>
    <servlet-class>com.loantogo.controllers.exportUserReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exportUserReportServlet</servlet-name>
    <url-pattern>/exportUserReportServlet</url-pattern>
  </servlet-mapping>
</web-app>